*{
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-shadow: #000 1px ;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url("assets/imagem.jpg");

}